// Home
.home {
    position: relative;
    height: 100vh;
}

.home__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: -12rem 0;
}

.home__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 78%);
}

.home__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:var(--primary-color);
    opacity: .6;
}

.home__container {
    position: relative;
    margin: 0 auto;
    row-gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home__data {
    text-align: center;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.home__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
    position: relative;
    z-index: var(--z-fixed);

    .title-underline {
        position: absolute;
        bottom: -.5rem;
        z-index: -1;
    }
}

.home__description {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.home__coming-soon {
    position: absolute;
    bottom: 1rem;
    justify-self: flex-end;
    font-family: 'Consolas';
    font-size: var(--h3-font-size);
}