<!-- Home -->
<section class="home" id="home">
    <img src="../../../assets/img/alan-alvarez-1.jpg" alt="Edificio en la Ciudad de México" class="home__bg">
    
    <div class="home__overlay"></div>

    <div class="home__shadow"></div>

    <div class="home__container container grid">
        <div class="home__data">
            <a href="https://www.instagram.com/lacamdealann/" target="_blank" rel="noopener noreferrer">
                <h3 class="home__subtitle">&#64;lacamdealann</h3>
            </a>
            <h1 class="home__title">
                <span class="title-text">Hola, soy<br>Alan Álvarez</span>
                <img src="../../../assets/img/line.svg" alt="Línea" class="title-underline">
            </h1>
            <p class="home__description">¿Estás listo?</p>
        </div>

        <p class="home__coming-soon">Proximamente</p>
   </div>
</section>
