<main class="main">
    <section class="home section">
        <div class="home__rectangle"></div>

        <div class="home__container container grid">
            <div class="home__perfil perfil">
                <div class="perfil__content">
                    <img src="../../../assets/img/alan-alvarez-profile.jpg" alt="Foto Alan Álvarez" class="perfil__img">
                </div>
            </div>

            <div class="home__content grid">
                <h2 class="section__title">Comencemos tu proyecto<br>hoy mismo</h2>

        <div class="contact__container container grid">
            <form action="" class="contact__form grid" id="contact-form">
                <div class="contact__group grid">
                    <div class="contact__box">
                        <input type="text" name="name" id="name" required placeholder="Tu nombre" class="contact__input">
                        <label for="name" class="contact__label">Tu nombre</label>
                    </div>

                    <div class="contact__box">
                        <input type="email" name="email" id="email" required placeholder="Tu email" class="contact__input">
                        <label for="email" class="contact__label">Tu email</label>
                    </div>
                </div>

                <div class="contact__box contact__area">
                    <textarea name="message" id="message" class="contact__input" required placeholder="¿Cómo puedo ayudarte?"></textarea>
                    <label for="message" class="contact__label">Tu mensaje</label>
                </div>

                <p class="contact__message" id="contact-message"></p>

                <button type="submit" class="contact__send button dark-button">Enviar <i class="ri-arrow-right-line"></i></button>
            </form>
        </div>
            </div>
        </div>
    </section>
</main>

<!-- Home content -->
<!-- <div class="home__data grid">
    <h1 class="home__name">Alan Álvarez</h1>

    <h2 class="home__profession">Fotografía y vídeo con Drone</h2>

    <div class="home__social">
        <a href="#" target="_blank" rel="noopener noreferrer" class="home__social-link">
            <i class="ri-github-fill"></i>
        </a>

        <a href="#" target="_blank" rel="noopener noreferrer" class="home__social-link">
            <i class="ri-linkedin-box-fill"></i>
        </a>

        <a href="#" target="_blank" rel="noopener noreferrer" class="home__social-link">
            <i class="ri-dribbble-line"></i>
        </a>
    </div>
</div>

<a href="#" class="home__button button light-button">Agendar una cita</a> -->

<!-- Contact -->
<!-- <section class="contact section">
    <h2 class="section__title">Comencemos tu proyecto<br>hoy mismo</h2>

    <div class="contact__container container grid">
        <form action="" class="contact__form grid" id="contact-form">
            <div class="contact__group grid">
                <div class="contact__box">
                    <input type="text" name="name" id="name" required placeholder="Tu nombre" class="contact__input">
                    <label for="name" class="contact__label">Tu nombre</label>
                </div>

                <div class="contact__box">
                    <input type="email" name="email" id="email" required placeholder="Tu email" class="contact__input">
                    <label for="email" class="contact__label">Tu email</label>
                </div>
            </div>

            <div class="contact__box contact__area">
                <textarea name="message" id="message" class="contact__input" required placeholder="¿Cómo puedo ayudarte?"></textarea>
                <label for="message" class="contact__label">Tu mensaje</label>
            </div>

            <p class="contact__message" id="contact-message"></p>

            <button type="submit" class="contact__send button dark-button">Enviar <i class="ri-arrow-right-line"></i></button>
        </form>
    </div>
</section> -->