<section class="portfolio section" id="portfolio">
    <div class="portfolio__container container">
        <div class="portfolio__gallery">
            <article class="portfolio__frame" data-aos="flip-up" data-aos-duration="3000">
                <img class="portfolio__img" src="/assets/img/alan-alvarez-1-1.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/producto1.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/footer-bg.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/cholula.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/rrss1.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/popular1.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/teotihuacan.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/tepotzotlan.jpg" alt="img">
            </article>

            <article class="portfolio__frame" >
                <img class="portfolio__img" src="/assets/img/producto2.jpg" alt="img">
            </article>

            <article class="portfolio__frame" >
                <img class="portfolio__img" src="/assets/img/budoir1.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/about-bg1.jpg" alt="img">
            </article>

            <article class="portfolio__frame">
                <img class="portfolio__img" src="/assets/img/bellas-artes.jpg" alt="img">
            </article>
        </div>
    </div>
</section>