<!-- TODO: Hacer que el botón de scrollup solo se aparezca cuando se haga un scroll de 350vh. Que el botón aparezca desde abajo (bottom: 3rem) -->

<!-- TODO: Quitar comentarios de header, footer y scroll up cuando se termine el sitio web -->

<!-- Header -->
<!-- <app-header></app-header> -->

<!-- Main -->
<router-outlet></router-outlet>

<!-- Footer -->
<!-- <app-footer></app-footer> -->

<!-- Scroll up -->
<!-- <a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-line"></i>
</a> -->
