<main class="main">
    <!-- Home -->
    <section class="home section" id="home">
        <img src="../../../assets/img/bg1.jpg" alt="Edificio en la Ciudad de México" class="home__bg">
        
        <div class="home__shadow"></div>

        <div class="home__container container grid">
            <div class="home__data">
                <h3 class="home__subtitle">&#64;lacamdealan</h3>
                <h1 class="home__title">Soy Alan Álvarez</h1>
                <p class="home__description">Convirtamos momentos en recuerdos para toda la vida</p>

                <a href="#" class="button">Contáctame <i class="ri-arrow-right-line"></i></a>
            </div>

            <div class="home__cards grid">
                <article class="home__card">
                    <img src="../../../assets/img/rrss1.jpg" alt="Home Image" class="home__card-img">
                    <h3 class="home__card-title">Sociales</h3>
                    <div class="home__card-shadow"></div>
                </article>

                <article class="home__card">
                    <img src="../../../assets/img/retrato1.jpg" alt="Home Image" class="home__card-img">
                    <h3 class="home__card-title">Retrato</h3>
                    <div class="home__card-shadow"></div>
                </article>

                <article class="home__card">
                    <img src="../../../assets/img/budoir1.jpg" alt="Home Image" class="home__card-img">
                    <h3 class="home__card-title">Budoir</h3>
                    <div class="home__card-shadow"></div>
                </article>

                <article class="home__card">
                    <img src="../../../assets/img/producto1.jpg" alt="Home Image" class="home__card-img">
                    <h3 class="home__card-title">Producto</h3>
                    <div class="home__card-shadow"></div>
                </article>
            </div>
       </div>
    </section>

    <!-- About -->
    <section class="about section" id="about">
       
    </section>
 
    <!-- Popular -->
    <section class="popular section" id="popular">
       
    </section>
    
    <!-- Explore -->
    <section class="explore section" id="explore">
       
    </section>
    
    <!-- Join -->
    <section class="join section">
       
    </section>
 </main>